@{
    ViewBag.Title = "Success";
}

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success">Success! File is processing.</div>
        @Html.ActionLink("Back to home page", "Index", "Home")
    </div>
</div>